/* Code Blocks */
code, .rst-content tt {
  color: #333;
  background: #fff;
  white-space: pre-wrap;
}

div.codehilite {
  margin-bottom: 24px;
  overflow: auto;
  font-size: 12px;
  padding: 12px;
}

.codehilite pre {
  margin: 0;
}

.codehilite {
  background: #fff;
  color: #333;
  border: solid 1px #e1e4e5;
}

/* kbd */
kbd {
  font-size: 75%;
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  color: #333;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
}

/* Tables */
table {
  display: block;
  width: 100%;
  overflow: auto;
}

tr>td:last-child {
  width: 100%;
}

/* Lists */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0 !important;
}

.task-list-item {
  list-style-type: none !important;
}

.task-list-item input {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

/* Progress Bars */
.progress {
  display: block;
  width: 300px;
  margin: 10px 0;
  height: 24px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ededed;
  position: relative;
  box-shadow: inset -1px 1px 3px rgba(0, 0, 0, .1);
}

.progress-label {
  position: absolute;
  text-align: center;
  font-weight: bold;
  width: 100%; margin: 0;
  line-height: 24px !important;
  color: #333;
  text-shadow: 1px 1px 0 #fefefe, -1px -1px 0 #fefefe, -1px 1px 0 #fefefe, 1px -1px 0 #fefefe, 0 1px 0 #fefefe, 0 -1px 0 #fefefe, 1px 0 0 #fefefe, -1px 0 0 #fefefe, 1px 1px 2px #000;
  -webkit-font-smoothing: antialiased !important;
  white-space: nowrap;
  overflow: hidden;
}

.progress-bar {
  height: 24px;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #96c6d7;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(0, 0, 0, .1);
  background-size: 30px 30px;
  background-image: -webkit-linear-gradient(
    135deg, rgba(255, 255, 255, .4) 27%,
    transparent 27%,
    transparent 52%, rgba(255, 255, 255, .4) 52%,
    rgba(255, 255, 255, .4) 77%,
    transparent 77%, transparent
  );
  background-image: -moz-linear-gradient(
    135deg,
    rgba(255, 255, 255, .4) 27%, transparent 27%,
    transparent 52%, rgba(255, 255, 255, .4) 52%,
    rgba(255, 255, 255, .4) 77%, transparent 77%,
    transparent
  );
  background-image: -ms-linear-gradient(
    135deg,
    rgba(255, 255, 255, .4) 27%, transparent 27%,
    transparent 52%, rgba(255, 255, 255, .4) 52%,
    rgba(255, 255, 255, .4) 77%, transparent 77%,
    transparent
  );
  background-image: -o-linear-gradient(
    135deg,
    rgba(255, 255, 255, .4) 27%, transparent 27%,
    transparent 52%, rgba(255, 255, 255, .4) 52%,
    rgba(255, 255, 255, .4) 77%, transparent 77%,
    transparent
  );
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, .4) 27%, transparent 27%,
    transparent 52%, rgba(255, 255, 255, .4) 52%,
    rgba(255, 255, 255, .4) 77%, transparent 77%,
    transparent
  );
}

.progress-100plus .progress-bar {
  background-color: #a6d796;
}

.progress-80plus .progress-bar {
  background-color: #c6d796;
}

.progress-60plus .progress-bar {
  background-color: #d7c896;
}

.progress-40plus .progress-bar {
  background-color: #d7a796;
}

.progress-20plus .progress-bar {
  background-color: #d796a6;
}

.progress-0plus .progress-bar {
  background-color: #c25f77;
}

.candystripe-animate .progress-bar{
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
  animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

@-moz-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

.gloss .progress-bar {
  box-shadow:
    inset 0 4px 12px rgba(255, 255, 255, .7),
    inset 0 -12px 0 rgba(0, 0, 0, .05);
}

@media print {
  .progress,
  .progress-bar {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .progress {
    border: 1px solid #ddd;
  }

  .progress-bar {
    height: 22px;
    border-right: 1px solid #ddd;
  }
}

/* Header Anchors */
.headeranchor-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}

.headeranchor-link:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

h1 .headeranchor,
h2 .headeranchor,
h3 .headeranchor,
h4 .headeranchor,
h5 .headeranchor,
h6 .headeranchor {
  display: none;
  color: #000;
  vertical-align: middle;
}

h1:hover .headeranchor-link,
h2:hover .headeranchor-link,
h3:hover .headeranchor-link,
h4:hover .headeranchor-link,
h5:hover .headeranchor-link,
h6:hover .headeranchor-link {
  height: 1em;
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}

h1:hover .headeranchor-link .headeranchor,
h2:hover .headeranchor-link .headeranchor,
h3:hover .headeranchor-link .headeranchor,
h4:hover .headeranchor-link .headeranchor,
h5:hover .headeranchor-link .headeranchor,
h6:hover .headeranchor-link .headeranchor {
  display: inline-block;
}

.headeranchor {
  font: normal normal 16px FontAwesome;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headeranchor:before {
  content: '\f0c1';
}
