/* Code Blocks */
.rst-content code, .rst-content tt {
  color: #333;
  background: #fff;
  white-space: pre-wrap;
  line-height: 75%;
  padding: 2px 5px;
}

.rst-content div.codehilite {
  margin-bottom: 24px;
  overflow: auto;
  font-size: 12px;
  padding: 12px;
}

.rst-content .codehilite pre {
  margin: 0;
}

.rst-content .codehilite {
  background: #fff;
  color: #333;
  border: solid 1px #e1e4e5;
}

.rst-content pre>code {
  display: block;
  padding: 12px;
  font-size: 12px;
  overflow: auto;
  margin-bottom: 24px;
}

.rst-content .uml-sequence-diagram,
.rst-content .uml-flowchart {
  width: 100%;
  overflow: auto;
}

/* Block Quotes */
.rst-content cite.quote {
  display: block;
  text-align: right;
  font-style: italic;
}

/* Insert */
.rst-content ins {
  color: inherit;
  background: inherit;
  text-decoration: underline;
}

/* Mark */
.rst-content mark {
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  background: #ff9;
}

/* Abbreviations */
.rst-content abbr {
  cursor: help;
}

/* Image */
.rst-content img.emoji {
  width: 20px;
  height: 20px;
}

/* Links */
.rst-content .section a {
  word-wrap: break-word;
}

/* kbd */
.rst-content kbd {
  font-size: 75%;
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  color: #333;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
}

/* Tables */
.rst-content table.docutils {
  display: block;
  border: none !important;
  overflow: auto;
}

.rst-content table.docutils thead th {
  border-top: 1px solid #e1e4e5 !important;
}

.rst-content table.docutils thead tr th:first-child {
  border-left: 1px solid #e1e4e5 !important;
}

.rst-content table.docutils thead tr th:last-child {
  border-right: 1px solid #e1e4e5 !important;
}

.rst-content table.docutils tr td:first-child {
  border-left: 1px solid #e1e4e5 !important;
}

.rst-content table.docutils tr td:last-child {
  border-right: 1px solid #e1e4e5 !important;
}

.rst-content table.docutils tr:last-child td {
  border-bottom: 1px solid #e1e4e5 !important;
}

/* Lists */
.rst-content ul ul,
.rst-content ul ol,
.rst-content ol ol,
.rst-content ol ul {
  margin-bottom: 0 !important;
}

.rst-content .task-list-item {
  list-style-type: none !important;
}

.rst-content .task-list-item input {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

.rst-content li>p {
  margin: 12px;
}

/* Progress Bars */
.rst-content .progress {
  display: block;
  width: 300px;
  margin: 10px 0;
  height: 24px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ededed;
  position: relative;
  box-shadow: inset -1px 1px 3px rgba(0, 0, 0, .1);
}

.rst-content .progress-label {
  position: absolute;
  text-align: center;
  font-weight: bold;
  width: 100%; margin: 0;
  line-height: 24px !important;
  color: #333;
  text-shadow: 1px 1px 0 #fefefe, -1px -1px 0 #fefefe, -1px 1px 0 #fefefe, 1px -1px 0 #fefefe, 0 1px 0 #fefefe, 0 -1px 0 #fefefe, 1px 0 0 #fefefe, -1px 0 0 #fefefe, 1px 1px 2px #000;
  -webkit-font-smoothing: antialiased !important;
  white-space: nowrap;
  overflow: hidden;
}

.rst-content .progress-bar {
  height: 24px;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #96c6d7;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(0, 0, 0, .1);
  background-size: 30px 30px;
  background-image: -webkit-linear-gradient(
    135deg, rgba(255, 255, 255, .4) 27%,
    transparent 27%,
    transparent 52%, rgba(255, 255, 255, .4) 52%,
    rgba(255, 255, 255, .4) 77%,
    transparent 77%, transparent
  );
  background-image: -moz-linear-gradient(
    135deg,
    rgba(255, 255, 255, .4) 27%, transparent 27%,
    transparent 52%, rgba(255, 255, 255, .4) 52%,
    rgba(255, 255, 255, .4) 77%, transparent 77%,
    transparent
  );
  background-image: -ms-linear-gradient(
    135deg,
    rgba(255, 255, 255, .4) 27%, transparent 27%,
    transparent 52%, rgba(255, 255, 255, .4) 52%,
    rgba(255, 255, 255, .4) 77%, transparent 77%,
    transparent
  );
  background-image: -o-linear-gradient(
    135deg,
    rgba(255, 255, 255, .4) 27%, transparent 27%,
    transparent 52%, rgba(255, 255, 255, .4) 52%,
    rgba(255, 255, 255, .4) 77%, transparent 77%,
    transparent
  );
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, .4) 27%, transparent 27%,
    transparent 52%, rgba(255, 255, 255, .4) 52%,
    rgba(255, 255, 255, .4) 77%, transparent 77%,
    transparent
  );
}

.rst-content .progress-100plus .progress-bar {
  background-color: #a6d796;
}

.rst-content .progress-80plus .progress-bar {
  background-color: #c6d796;
}

.rst-content .progress-60plus .progress-bar {
  background-color: #d7c896;
}

.rst-content .progress-40plus .progress-bar {
  background-color: #d7a796;
}

.rst-content .progress-20plus .progress-bar {
  background-color: #d796a6;
}

.rst-content .progress-0plus .progress-bar {
  background-color: #c25f77;
}

.rst-content .candystripe-animate .progress-bar{
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
  animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

@-moz-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

.rst-content .gloss .progress-bar {
  box-shadow:
    inset 0 4px 12px rgba(255, 255, 255, .7),
    inset 0 -12px 0 rgba(0, 0, 0, .05);
}

@media print {
  .rst-content .progress,
  .rst-content .progress-bar {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .rst-content .progress {
    border: 1px solid #ddd;
  }

  .rst-content .progress-bar {
    height: 22px;
    border-right: 1px solid #ddd;
  }
}

/* Header Anchors */
.rst-content .headeranchor-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}

.rst-content .headeranchor-link:focus {
  outline: none;
}

.rst-content h1,
.rst-content h2,
.rst-content h3,
.rst-content h4,
.rst-content h5,
.rst-content h6 {
  position: relative;
}

.rst-content h1 .headeranchor,
.rst-content h2 .headeranchor,
.rst-content h3 .headeranchor,
.rst-content h4 .headeranchor,
.rst-content h5 .headeranchor,
.rst-content h6 .headeranchor {
  display: none;
  color: #000;
  vertical-align: middle;
}

.rst-content h1:hover .headeranchor-link,
.rst-content h2:hover .headeranchor-link,
.rst-content h3:hover .headeranchor-link,
.rst-content h4:hover .headeranchor-link,
.rst-content h5:hover .headeranchor-link,
.rst-content h6:hover .headeranchor-link {
  height: 1em;
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}

.rst-content h1:hover .headeranchor-link .headeranchor,
.rst-content h2:hover .headeranchor-link .headeranchor,
.rst-content h3:hover .headeranchor-link .headeranchor,
.rst-content h4:hover .headeranchor-link .headeranchor,
.rst-content h5:hover .headeranchor-link .headeranchor,
.rst-content h6:hover .headeranchor-link .headeranchor {
  display: inline-block;
}

.rst-content .headeranchor {
  font: normal normal 16px FontAwesome;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rst-content .headeranchor:before {
  content: '\f0c1';
}

/* Critic Markup */
.rst-content .critic {
  font-family: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  text-decoration: none;
}

.rst-content .critic:before,
.rst-content .critic:after {
  content: '\00a0';
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-size: initial;
}

.rst-content mark.critic {
  border-color: #ff8600;
  background: #ffddaa;
}

.rst-content ins.critic {
  border-color: #00bb00;
  background: #ddffdd;
}

.rst-content del.critic {
  border-color: #dd0000;
  background: #ffdddd;
}

.rst-content ins.break,
.rst-content del.break {
  font-size: 0;
  border: none;
}

.rst-content ins.break:before,
.rst-content del.break:before {
  content: '\00a0\b6\00a0';
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.rst-content ins.after,
.rst-content del.after {
  content: '';
}

.rst-content ins.break:before {
  color: #00bb00;
  border: 1px solid #00bb00;
  background: #ddffdd;
}

.rst-content del.break:before {
  color: #bb0000;
  border: 1px solid #bb0000;
  background: #ffdddd;
}

.rst-content span.critic {
  background: #ddddff;
  border: 0;
  border-top: 1px solid #0000bb;
  border-bottom: 1px solid #0000bb;
}

.rst-content span.critic:before,
.rst-content span.critic:after {
  font-size: inherit;
  background: #ddddff;
  border: 1px solid #0000bb;
}

.rst-content span.critic:before {
  content: '\00a0\bb';
  border-right: none;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rst-content span.critic:after {
  content: '\ab\00a0';
  border-left: none;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.rst-content .block {
  display: block;
  padding: .02em;
}

.rst-content .block:before,
.rst-content .block:after {
  content: '';
}

/* Special Doc Stuff */
.rst-content table.doctable {
  border: 0;
  width: 100%;
  display: table;
}

.rst-content table.doctable td {
  border: 0;
  width: 50%;
  background: #fcfcfc !important;
}

.rst-content table.doctable tr td:first-child {
  border-left: 0 !important;
}

.rst-content table.doctable tr td:last-child {
  border-right: 0 !important;
}

.rst-content table.doctable tr:last-child td {
  border-bottom: 0 !important;
}

.rst-content .doctitle {
  text-align: center;
  font-size: 300%;
  margin-bottom: .2em;
}

.rst-content .doctitle+p {
  text-align: center;
}

li.toctree-l3:first-child {
    display: none;
}
